h1 a {
    color: #b4dbc0;
    font-family: 'Roboto Slab', serif;
}

body {
    padding-left: 0px;
}

.page-header {
    background-color: #4f5a6e;
    margin-top: 0;
    padding: 40px 20px 30px 80px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #00ba9d;
    font-size: 60pt;
    text-decoration: none;
}

.content {
    margin-left: 150px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

.date {
    float: left;
    color: #4f5a6e;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #00ba9d;
    float: right;
    font-size: 30pt;
    top: 60px;
    margin-right: 10px;
    font-family: 'Roboto Slab', serif;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #4f5a6e;
}

.comment {
    margin: 20px 0px 20px 20px;
}

.glyphicon {
    top: 5px;
    margin-right: 20px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
